.new-adress{
  background-color: lavender;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-adress button{
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 2px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  background-color: lavender;
  color: black;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-adress button:hover,
.new-adress button:active{
  background-color: #00ccff;
  border-color: #00ccff;
}

.new-adress button.alternative{
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-adress button.alternative:hover,
.new-adress button.alternative:hover{
  background-color: #ddb3f8;
}